.gradientButton {
  padding: 10px;
  font-family: Ode Gaming;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: #FFFFFF;
}

.type1 {
  background: linear-gradient(90deg, rgba(94, 23, 104, 0.44) -45.47%, rgba(3, 220, 225, 0.44) 144.82%);

  border: 5px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to right, #DE5000 -55.95%, rgba(0, 163, 255));
}

.type2 {
  background: linear-gradient(90deg, rgba(59, 20, 205, 0.44) -45.47%, rgba(240, 19, 165, 0.44) -45.45%, rgba(59, 20, 205, 0.44) -45.43%);

  border: 5px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to right, #DE5000 -55.95%, rgba(0, 163, 255));
}

.type3 {
  background: rgba(255, 245, 0, 0.74);
  border: 5px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to right, #DE5000 -55.95%, rgba(0, 163, 255));
}