.wrapper {
  width: 27.6vw;
  height: 3.7vw;
  @media (max-width: 764px) {
    width: 90vw;
    height: 12.06vw;
  }
}

.walletAddress {
  position: absolute;
  left: 4%;
  top: 30%;
  width: 100%;
  height: 100%;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 0.65vw;
  line-height: 0.7vw;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #FFFFFF;

  @media (max-width: 764px) {
    font-size: 2vw;
    line-height: 2.1vw;
  }
}

.copyButton {
  position: absolute;
  right: 15%;
  top: 23%;
  color: white;
  width: 3.62%;
}